# I. Imports

In [1]:
import pandas as pd

In [2]:
# Import CSV File
covid_df = pd.read_csv(r'owid-covid-data.csv')

In [3]:
print(covid_df)

      iso_code continent     location        date  total_cases  new_cases  \
0          AFG      Asia  Afghanistan  2020-02-24          1.0        1.0
1          AFG      Asia  Afghanistan  2020-02-25          1.0        0.0
2          AFG      Asia  Afghanistan  2020-02-26          1.0        0.0
3          AFG      Asia  Afghanistan  2020-02-27          1.0        0.0
4          AFG      Asia  Afghanistan  2020-02-28          1.0        0.0
...        ...       ...          ...         ...          ...        ...
98899      ZWE    Africa     Zimbabwe  2021-06-24      44306.0      826.0
98900      ZWE    Africa     Zimbabwe  2021-06-25      45217.0      911.0
98901      ZWE    Africa     Zimbabwe  2021-06-26      46018.0      801.0
98902      ZWE    Africa     Zimbabwe  2021-06-27      46442.0      424.0
98903      ZWE    Africa     Zimbabwe  2021-06-28      47284.0      842.0

       new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                     NaN           NaN         NaN                  NaN  ...
1                     NaN           NaN         NaN                  NaN  ...
2                     NaN           NaN         NaN                  NaN  ...
3                     NaN           NaN         NaN                  NaN  ...
4                     NaN           NaN         NaN                  NaN  ...
...                   ...           ...         ...                  ...  ...
98899             482.714        1709.0        17.0                8.857  ...
98900             554.571        1721.0        12.0                9.286  ...
98901             627.143        1725.0         4.0                8.429  ...
98902             666.143        1736.0        11.0                9.143  ...
98903             727.000        1749.0        13.0                9.143  ...

       extreme_poverty  cardiovasc_death_rate  diabetes_prevalence  \
0                  NaN                597.029                 9.59
1                  NaN                597.029                 9.59
2                  NaN                597.029                 9.59
3                  NaN                597.029                 9.59
4                  NaN                597.029                 9.59
...                ...                    ...                  ...
98899             21.4                307.846                 1.82
98900             21.4                307.846                 1.82
98901             21.4                307.846                 1.82
98902             21.4                307.846                 1.82
98903             21.4                307.846                 1.82

       female_smokers  male_smokers  handwashing_facilities  \
0                 NaN           NaN                  37.746
1                 NaN           NaN                  37.746
2                 NaN           NaN                  37.746
3                 NaN           NaN                  37.746
4                 NaN           NaN                  37.746
...               ...           ...                     ...
98899             1.6          30.7                  36.791
98900             1.6          30.7                  36.791
98901             1.6          30.7                  36.791
98902             1.6          30.7                  36.791
98903             1.6          30.7                  36.791

       hospital_beds_per_thousand  life_expectancy  human_development_index  \
0                             0.5            64.83                    0.511
1                             0.5            64.83                    0.511
2                             0.5            64.83                    0.511
3                             0.5            64.83                    0.511
4                             0.5            64.83                    0.511
...                           ...              ...                      ...
98899                         1.7            61.49                    0.571
98900                         1.7            61.49                    0.571
98901                         1.7            61.49                    0.571
98902                         1.7            61.49                    0.571
98903                         1.7            61.49                    0.571

       excess_mortality
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
...                 ...
98899               NaN
98900               NaN
98901               NaN
98902               NaN
98903               NaN

[98904 rows x 60 columns]